*

!yarn-offline-mirror/
!yarn.lock
!.yarn/releases/
!.yarn/plugins/
!.yarn/cache/
!.yarnrc
!.yarnrc.yml

!package.json
!tsconfig.json
!tsconfig.tsbuildinfo
!vetur.config.js

!backend/src/
!backend/package.json
!backend/tsconfig.json
!common/src/
!common/package.json
!common/tsconfig.json
!common/tsconfig.tsbuildinfo
